
{% extends "layout.njk" %}

{% block content %}

<header class="about_header">
  <a href="/courses">VOLTAR</a>
</header>

  <section>
    <div class="conteiner">
      <div class="logo">
        <img src="{{about.image}}" alt="">
      </div>
      <div class="textos">
        <h1>{{about.title}}</h1>
        <p>{{about.description}}</p>
        <h2>{{about.title_two}}</h2>

        <ul>
          {% for sobre in about.techs %}
          <li>{{sobre.tech}}</li>
          {% endfor %}}
        </ul>

      </div>
    </div >
    <div class="social_media">

      {% for link in about.links %}
        <a href="{{link.url}}" target="blank">{{link.name}}</a>
      {% endfor %}
      
    </div>
  </section>

  {% endblock %}